<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <!-- asp.net logs. Uses some ASP.NET core renderers -->
    <target name="aspnet" xsi:type="File"
            layout="[${longdate}] ${logger} ${event-properties:item=EventId_Id} ${message} ${aspnet-request-url}${aspnet-mvc-action}${onexception:${newline}${exception:format=@}${newline}}"
            fileName="${basedir}/logs/current/${level}.txt"
            archiveFileName="${basedir}/logs/archives/${level}/{#}.txt"
            archiveAboveSize="5242880"
            archiveEvery="Day"
            archiveNumbering="Date"
            archiveDateFormat="yyyy-MM-dd"
            maxArchiveFiles="14"
            concurrentWrites="false"
            keepFileOpen="true"
            encoding="utf-8" />
    <!-- custom logs. archiveAboveSize: 5M -->
    <target name="custom" xsi:type="File"
            layout="[${longdate}] ${logger} ${message}${onexception:${newline}${exception:format=@}${newline}}"
            fileName="${basedir}/logs/current/${level}.txt"
            archiveFileName="${basedir}/logs/archives/${level}/{#}.txt"
            archiveAboveSize="5242880"
            archiveEvery="Day"
            archiveNumbering="Date"
            archiveDateFormat="yyyy-MM-dd"
            maxArchiveFiles="14"
            concurrentWrites="false"
            keepFileOpen="true"
            encoding="utf-8" />

    <target xsi:type="Console" name="console"
           layout="[${longdate}] ${logger} ${event-properties:item=EventId_Id} ${message} ${aspnet-request-url}${aspnet-mvc-action}${onexception:${newline}${exception:format=@}${newline}}" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--Custom logs-->
    <logger name="IceCoffee.LogManager.*" minlevel="Trace" writeTo="custom,console" />

    <!--Skip non-critical IceCoffee.LogManager logs and so log only own logs-->
    <logger name="IceCoffee.LogManager.*" minlevel="Trace" final="true" />
    <!-- BlackHole without writeTo -->
    <!--All asp.net logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="aspnet,console" />
  </rules>
</nlog>
