<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--补丁版本url-->
    <add key="UpdateXmlUrl_patch" value="https://oss.7daystodie.top/TianYiSdtdServertools/AutoUpdate/patch.xml" />
    <!--完整版url-->
    <add key="updateXmlUrl_complete" value="https://oss.7daystodie.top/TianYiSdtdServertools/AutoUpdate/complete.xml" />
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=7daystodie.top;Initial Catalog=LuoShuiTianYi_sdtd;uid=sa;pwd=Ly1249993110;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>