<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--补丁版本url-->
    <add key="UpdateXmlUrl_patch" value="https://oss.7daystodie.top/TianYiSdtdServertools/AutoUpdate/patch.xml" />
    <!--完整版url-->
    <add key="updateXmlUrl_complete" value="https://oss.7daystodie.top/TianYiSdtdServertools/AutoUpdate/complete.xml" />

    <!--用户最大登录数量-->
    <add key="userMaxLoginCount" value="1" />

    <!--登录赠送使用时长 单位：天-->
    <add key="loginGiveUseTime" value="7" />
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=7daystodie.top;Initial Catalog=LuoShuiTianYi_sdtd;uid=sa;pwd=Ly1249993110;pooling=true;connection lifetime=10;min pool size=1;max pool size=50;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>