<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <connectionStrings>
    <add name="DefaultSQLiteString" connectionString="Data Source=data/database.db" />
  </connectionStrings>
  <appSettings>
    <!--App将会自动创建Key以Directory结尾的目录-->
    <add key="ConfigDirectory" value="config/Scripts" />
    <add key="DataDirectory" value="data/信息记录" />
    <add key="ItemIconsDirectory" value="data/ItemIcons" />
    
    <add key="ViewModelConfigPath" value="config/ViewModelConfig.xml" />
    <add key="ChatMessageRecordPath" value="data/信息记录/聊天记录.txt" />
    <add key="SQL" value="config/Scripts/初始化数据库.sql"/>
    <add key="BlocksXmlPath" value="data/blocks.xml"/>
    <add key="ItemsXmlPath" value="data/items.xml"/>
    <add key="SdtdLocalizationPath" value="data/Localization.txt"/>
  </appSettings>
</configuration>