<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NLog" version="4.6.8" targetFramework="net451" />
  <package id="NLog.Config" version="4.6.8" targetFramework="net451" />
  <package id="NLog.Schema" version="4.6.8" targetFramework="net451" />
  <package id="Panuon.UI.Silver" version="1.0.9.5" targetFramework="net451" />
</packages>